<?xml version="1.0" encoding="UTF-8"?>
<Document>
  <image_0>
    <ch0_flip_h>0</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>0</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>1</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_0>
  <image_1>
    <ch0_flip_h>1</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>1</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>0</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_1>
  <image_2>
    <ch0_flip_h>0</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>0</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>1</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_2>
  <image_3>
    <ch0_flip_h>1</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>1</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>0</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_3>
  <image_4>
    <ch0_flip_h>0</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>0</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>1</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_4>
  <image_5>
    <ch0_flip_h>1</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>1</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>0</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_5>
  <image_6>
    <ch0_flip_h>0</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>0</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>1</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_6>
  <image_7>
    <ch0_flip_h>1</ch0_flip_h>
    <ch0_flip_v>0</ch0_flip_v>
    <ch1_flip_h>1</ch1_flip_h>
    <ch1_flip_v>0</ch1_flip_v>
    <ch2_flip_h>0</ch2_flip_h>
    <ch2_flip_v>0</ch2_flip_v>
  </image_7>
</Document>
